@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
}

/* Light Mode Styles */
.light-mode {
    --primary-text-color: #333333; /* Primary text color in light mode */
    --secondary-text-color: #777777; /* Secondary text color in light mode */
    --third-text-color:#ffa500
    --bg-color: #ffffff;
    --content-bg-color: #ffffff;
    --sidebar-bg-color: #ffffff;
    --profile-card-bg-color: #ffffff;
    --primary-btn-bg-color: #ffa500;
    --fcard-bg-color:#1e1e1e;
    --fcard-header-color:#333;
    --box-shadow:0 4px 12px rgba(0, 0, 0, 0.5);
    
}

/* Dark Mode Styles */
.dark-mode {
    --primary-text-color: #f5f5f5; /* Primary text color in dark mode */
    --secondary-text-color: #a09898; /* Secondary text color in dark mode */
    --bg-color: #1c1c1c;
    --content-bg-color: #1c1c1c;
    --sidebar-bg-color: #1c1c1c;
    --profile-card-bg-color: #ffffff;
    --primary-btn-bg-color: #ffa500;
    --fcard-bg-color:#1e1e1e;
    --fcard-header-color:#333;
    --box-shadow:0 4px 12px rgba(0, 0, 0, 0.5);



}

/* Apply the colors */
body {
    background-color: var(--bg-color);
    color: var(--primary-text-color);
}

.content {
    background-color: var(--content-bg-color);
    color: var(--primary-text-color);
}

.button-container {
    text-align: center;
    margin-top: 20px;
  }
/* Container for the entire page */
.container1 {
    display: flex;
    min-height: 100vh; /* Full height */
}

/* Sidebar */
.sidebar1 {
    width: 30%;
    padding: 20px;
    position: fixed;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--sidebar-bg-color);
}

/* Main content area */
.content {
    margin-left: 30%;
    padding: 20px;
    width: 70%;
}

@media (max-width: 768px) {
    .sidebar1 {
        position: relative; /* Change position to relative in mobile view */
        width: 100%; /* Full width */
        height: auto; /* Auto height to accommodate content */
    }

    .content {
        margin-left: 0; /* Remove left margin for mobile view */
        width: 100%; /* Full width */
    }

    .container1 {
        flex-direction: column; /* Stack the container elements */
        margin: 0; /* Reset margin to avoid whitespace issues */
    }
}

/* Profile Card */
.profile-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 85vh;
    width: 100%;
    border-radius: 25px;
    padding: 40px;
    background-color: var(--content-bg-color);
    border: 1px solid #ffffff40;
    box-shadow: #ff5f56 0px 0px 0px 2px inset, var(--sidebar-bg-color) 10px -10px 0px -3px, #ffbd2e 10px -10px, var(--sidebar-bg-color) 20px -20px 0px -3px, #27c93f 20px -20px;
}

.image {
    position: relative;
    height: 150px;
    width: 150px;
    margin-bottom: 20px;
}

.profile-pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.4);
}

/* Data Styles */
.data h2 {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 10px;
    color: var(--primary-text-color);
}

.data span {
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: var(--secondary-text-color);
}

.btn-primary {
    padding: 10px 20px;
    font-size: 1.2rem;
    background: var(--primary-btn-bg-color);
    color: var(--primary-btn-bg-color);
}

/* Social Media Icons */
.fa-sun{
    color: #ffbd2e;
}
.social-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.social-icon {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    color: white;
    font-size: 24px;
    transition: background-color 0.3s ease;
}

.linkedin {
    background-color: #0A66C2;
}

.github {
    background-color: #171515;
}

.email {
    background-color: #EA4335;
}

.mobile {
    background-color: #34B7F1;
}

.social-icon:hover {
    opacity: 0.8;
}

/* Main Content Styles */


.intro-message {
    font-family: "Caveat", cursive;
    font-size: 2em;
    font-weight: bold;
    color: var(--primary-text-color);
    text-align: center;
    margin: 20px;
}

.emoji {
    font-size: 1.5em;
    margin-right: 5px;
}

.gradient-text {
    font-family: 'Pacifico', cursive;
    background: linear-gradient(90deg, #ff5f6d, #ffc371, #47e7b2, #62a0ea, #a17fe0, #ff88dc, #ff6b6b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    font-size: 1.5em;
}
.hero{
    display: flex;
    flex-direction: column;
    padding: 10px;
    color: var(--primary-text-color);
    height: 100vh;
}
/*----text editor----*/
.editor-window {
    width: auto;
    background-color: var(--fcard-bg-color);
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
    font-family: 'Fira Code', monospace;
    color: #d4d4d4;
}

.editor-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--fcard-header-color);
    padding: 10px;
    border-radius: 8px 8px 0 0;
}

.buttons {
    display: flex;
    gap: 8px;
}

.buttons span {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: inline-block;
}

.close { background-color: #ff5f56; }
.minimize { background-color: #ffbd2e; }
.maximize { background-color: #27c93f; }

.editor-title {
    font-size: 0.9em;
    color: var(--secondary-text-color);
}

.editor-body {
    padding: 20px;
    background-color: var(--fcard-bg-color);
    border-radius: 0 0 8px 8px;
}

.executive-summary p {
    color: #d4d4d4;
    font-size: 1.1em;
    line-height: 1.6;
}
.command {
    color: #569CD6;
}

.variable {
    color: #9CDCFE;
}

.operator {
    color: #D4D4D4;
}

.string {
    color: #CE9178;
}

.comment {
    color: #6A9955;
}


.cursor-an {
    display: inline-block;
    font-weight: bold;
    color: #d4d4d4;
    animation: blink 0.7s steps(2) infinite;
}

@keyframes blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}



/*----text editor----*/


.content h2 {
    margin-bottom: 10px;
    color: var(--primary-text-color);
}

.content p {
    margin-bottom: 20px;
    color: var(--secondary-text-color);
}


/*----------notion----------*/
.about-me{
    display: flex;
    flex-direction: column;
    padding: 10px;
    /* color: var(--primary-text-color); */
    height: 100vh;
}
.notion-card {
    min-height: 40vh;
    width: auto;
    background-color: var(--content-bg-color);
    color: var(--primary-text-color);
    border-radius: 8px;
    border: 2px solid #c5c1c1;
    box-shadow: var(--box-shadow);
    padding: 20px;
  }
  
.notion-header h3 {
    font-size: 1.4em;
    font-weight: 600;
    margin: 0;
    padding-bottom: 8px;
    border-bottom: 1px solid #e0e0e0;
    display: flex;
    align-items: center;
  }
  
.notion-content p {
    font-size: 1.1em;
    line-height: 1.6;
    margin: 15px 0 0;
  }
  
.notion-content strong {
    color: #2f54eb;
  }
  .button-container {
    text-align: center;
    margin-top: 20px;
  }
  .primary-button {
    font-size: 18px;
    color: white;
    background-color: #4CAF50;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s;
  }
  .primary-button:hover {
    background-color: #45A049;
  }
/*----------notion----------*/



  
